.orderPreview{
  
  
  .cart{
    // padding-top:77px;
    margin-top: 77px;

    &__header{
      font-size: 23px;
      color: #fff;
      background-color: $brand-secondary1-light;
    }
  }

  .cartSummary{
    margin-top: 77px;
  }
}



