.orderSuc{

  &__bg{
    // width: 1174px;
    width: 100%;
    height: 551px;
    // margin: 0 auto;
    margin-bottom: 41px;
    border:1px solid $brand-secondary1;
    position: relative;
    // background: url('../../../images/orderSuc-bg.png');
    background: url('./assets/images/orderSuc-bg.png');
    background-size: cover;
    background-position: center;
  }

  &__box{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  &__title{
    background-color: rgba(0, 0, 0, .7);
    color:#fff;
    font-size: 2rem;
    letter-spacing: 10px;
  }

  &__numId{
    margin-top: 10px;
    font-size: 15px;
  }
}


.orderConfirm{

  &__collapseBtn{
    background-color: #fff;
    outline: 0;
    color: $brand-secondary1-light;

    
    &:hover{
      color: $brand-secondary1;
      box-shadow: none;
    }
    &:focus{
      box-shadow: none;
    }
    &:visited{
      box-shadow: none;
    }
  }

  &__collapseIcon{
  }

  &__detail--orderSuc{
    margin-bottom: 31px;
  }
}