.navHeader{
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $brand-secondary1;
  padding-top: 0;
  padding-bottom: 0;

  &__logo{
    width: 70px;
    >img{
      width: 100%;
    }
  }
  &__navbar{
    @media screen and (min-width:1200px){
      width: 100%;
    }
    justify-content:space-between;
    flex-wrap: nowrap;

  }

  

  &__navItem{
    padding: 0 15px;
    &.p-sm{
      padding: 0 7px;
    }
  }
  
  &__navLink{
    color:rgb(241, 235, 235);

    &--icon{
      font-size: 18px;
    }

  }
}

.m-navbarNav{
  @include pad(){
    display: flex;
    flex-direction: column;
  }
  
}

.m-admin{
  @include pad(){
    display: none;
  }
}