.productCardCol{
  padding-left: 12px;
  padding-right: 12px;
  @include pad(){
    padding: 0 15px;
    padding: 0 25px;
  }
}

.productCard{
  // height: 100%;//##卡片組件運用給高100%? 刪 
  &:hover{
    @include shadow($blur:.5rem);//##
  }

  &__imgWrap{
    position: relative;
    padding-bottom: 100%;

    &__badge{
      position: absolute;
      left: 4%;
      top: 3%;
    }
  }

  &__favoriteBadge{
    position: absolute;
    z-index: 10;//%%沒z-index vue click不到
    bottom: 4px;
    right: 13px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;

  }

  &__body{
    display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title{
    font-size: 21px;
    height: 50px;
    margin-bottom: 5px;
    color:$brand-secondary-green;
    word-break: break-all;
    // text-align: justify;
    // text-justify: inter-word;
    cursor: pointer;
  }

  &__content{
    font-size: 15px;
    margin-bottom: 4px;
  }

  &__price{
    font-size: 27px;
    font-weight: bold;
    color: #A91604;
  }
  &__num{
    color: #E8CA8A;
    background-color: $brand-secondary-green;
    border-radius: 8px;
  }

  &__cart{
    // background-color: $brand-secondary-green;
    font-weight: bold;
    border-radius: 6px;
    color: #E8CA8A;
    &:hover{
      background-color: $brand-primary !important;
      
    }
  }

  &--style2{
    background-color: transparent;
    border:none;
    &:hover{
      background-color: #fff;
    }  
  }

}