
body{
  &::-webkit-scrollbar{
    // width: 5px;
    // height: 10px;
    // border-radius: 5px;
    background-color: #ccc; // %%要跟thumb同時寫
  }
//"&"是必須與上一層同層級
//-webkit-scrollbar : 整體的scrollbar樣式

  &::-webkit-scrollbar-thumb{
    width: 10px;
    height: 20px;
    border-radius: 15px;
    background-color: $brand-secondary1-light;
  }
  //bar的樣式

  &::-webkit-scrollbar-track{}
  //軌道的樣式

  ::-webkit-scrollbar-thumb:window-inactive{}
  //頁面是在被啟用的情況下(非必要)

}

.meta{
  &__banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/images/banner-bg2.jpg");
    width: 100%;
    height: 540px;
    background-size: 100%;
  }

  &__bannerFont{
    color:#fff;
    
  }

  &__bannerTitle{
    font-weight: bold;
    line-height: 1;
    >p{
      margin-bottom: 0;
    }
  }

  .bannerTitle{
    // letter-spacing: 3px;//..沒繼承
    &__p1{
      margin-right: 120px;
      font-size: 50px;
      letter-spacing:3px
    }

    &__p2{
      // position: relative;
      // top: -100%;//..無效
      margin-top: -8px;
      margin-left: 170px;
      font-size: 30px;
      letter-spacing: 2px;
    }

    &__subP{
      margin-top: 20px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
    }

  }

  &__sectionTitle{
    display: inline-block;
    padding-right: 80px;
    padding-bottom: 15px;
    margin-left: 10%;
    margin-bottom: 50px;
    font-size: 40px;
    letter-spacing: 1px;
    color: $brand-secondary1;
    background: url("./assets/images/titleIcon_main.png") no-repeat;
    background-position: bottom right;
    background-size: 80%;

    // &--metaNews{

    // }
  }

  &__sectionBg{
    position: relative;;
    background-image:url("./assets/images/section_bg.jpg");
    height: 900px;
    margin-bottom: 120px;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background-color: rgba(255, 255, 255, .3);
    }
  }

}


.metaSlogan{
  padding-top: 44px;
  margin-bottom: 30px;
  text-align: center;
  color: $brand-secondary1;
  >h2{
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: bold;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 70%;
      height: 1px;
      background-color: $brand-secondary1;

    }
  }

  >p{
    font-size: 23px;
  }
}

.metaPrdTab{
  // margin-bottom: 100px;
  &__item{
    // position: relative;
    width: 25%;

    @media screen and (min-width:1200px){
      // width: 20%;
    }
  }
  &__itemBox{
    position: relative;
    width: 100%;
    padding-bottom: 100%;//..自身or寬度? 
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    color: #fff;
    >div{
      position: absolute;
      z-index: 10;
      // top: 0;
      // left: 0;
      // right: 0;
      // bottom: 0;
      // margin: auto;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
    }
    &--tent{
      background-image: url("./assets/images/prdthumb_tent.png");
    }

    &--bedding{
      background-image: url("./assets/images/prdthumb_bedding.png");
    }

    &--funiture{
      background-image: url("./assets/images/prdthumb_funiture.png");
    }

    &--picnic{
      background-image: url("./assets/images/prdthumb_picnic.png");
    }

    &::after{
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(63,59,0,.3);
    }
  }

  &__title{
    // position: relative;
    // z-index: 100;//%%還是會被遮罩遮住 改在父層才有效
    margin-bottom: 8px;
    >h3{
      // position: relative;
      // z-index: 100;
      font-size: 30px;
      line-height: 1;
      margin-bottom: 5px;
    }
  }

  &__txt{
    border: 1px solid #fff;
    padding: 4px 6px;
  }
}


.metaCopyPart1{
  position: relative;
  margin-bottom: 200px;
  &__box{
    position: relative;
    // width: 90%;
    width: 100%;
    height: 480px;
    background-color: $brand-secondary1;

  }

  &__txt{
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding-top: 190px;
    padding-right: 40px;
    margin-left: 10%;
    text-align: center;
    color:#fff;
  }

  &__titleTxt{
    padding-bottom: 12px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 45px;
    letter-spacing:3px;
    border-bottom: 3px solid $brand-primary;
  }

  &__pTxt{
    font-size: 33px;
    white-space: nowrap;
  }

  &__pic{
    position: relative;
    z-index: 5;
    display: flex;
    padding-top: 50px;

    img{
      width: 100%;
      height: 100%;
      object-fit:cover;//##因為圖片沒裁切
    }
  }

  &::after{
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 200px 0 0;
    border-color: $brand-primary transparent transparent transparent;
  }
}

.metaCopyPart2{
  padding-top: 70px;
  color:$brand-secondary1;

  &__contentBlock{
    width: 70%;
    display: flex;
    padding: 35px 0;
    // padding: 135px 280px 110px 0;
    justify-content:flex-end;
    background-color: rgba(255, 255, 255, .8);
  }

  &__txtBox{
    margin-right: 8%;
  }

  &__txt{
    // margin-right: 10%;
    // display: flex;
    // flex-wrap: nowrap;//%%還是會斷行 只針對超出部分
    padding-top: 27px;
    align-items: center;
    text-align: center;
  }

  &__titleTxt{
    position: relative;
    margin-bottom: 13px;
    padding-bottom: 10px;
    font-size: 42px;
    font-weight: bold;
    white-space: nowrap;
    &::after{
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 30%;
      margin: auto;
      width: 140%;
      height: 2px;
      background-color: $brand-primary;
    }
  }

  &__pTxt{
    font-size: 23px;
  }

  &__pic{
    position: relative;
    z-index: 5;
    margin-right: -20%;
    width: 400px;
    // max-height: 80%;// ##無效
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    >img{
      max-width: 100%;
      height: auto;
    }
  }
}

.metaCopyPart3{
  padding-top: 110px;
  // margin-bottom: 150px;//..無效
  color:$brand-secondary1;
  display: flex;
  justify-content: flex-end;
  &__contentBlock{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    // padding: 100px 0;
    padding: 6% 0;//..上下百分比
    // padding: 135px 280px 110px 0;
    justify-content:flex-end;
    background-color: rgba(255, 255, 255, .8);
  }

  &__txtBox{
    width: 50%;
    margin-left: 40%;
    overflow: hidden;
  }

  &__txt{
    text-align: center;
    color:$brand-secondary1;
    // float:right;
    margin-left: 88px;
  }

  &__titleTxt{
    position: relative;
    // margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 42px;
    font-weight: bold;
    white-space: nowrap;
    &::after{
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 30%;
      margin: auto;
      width: 140%;
      height: 2px;
      background-color: $brand-primary;
    }
  }

  &__pTxt{
    font-size: 23px;
  }

  &__pic{
    // position: relative;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    padding-top: 35%;// ##高度
    width: 40%;
    // >img{
    //   // position: absolute;
    //   display: inline-block;
    //   max-width: 50%;
    //   // height: auto;
    //   height: 100%;
    //   object-fit:cover;
    // }
  }
  &__picItem{
    position: absolute;
    // top: 0;
    // left: 0;
    // width: 50%;
    height: 80%;// ##
    img{// ## img 100%
      // max-width: 100%;
      width: 100%;
      // height: auto;
      height: 100%;
      object-fit:cover;
    }

    &.pic1{
      width: 50%;
      top: -18%;
      left: 8%;
      z-index: 2;
    }
    &.pic2{
      width: 52%;
      top: 14%;
      right: 0;
      z-index: 1;
    }
  }
}

.newProductList{
  margin-bottom: 120px;

}

.prdNewCard{
  // &__imgBox{
  //   position: relative;
  //   margin-bottom: 15px;
  //   width: 100%;//%%難依照高調整固定高
  // }
  &__imgWrap{
    position: relative;
    width: 100%;
    padding-bottom: 94%;
    margin-bottom: 10px;
  }


  &__img{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  &__favoriteBadge{
    position: absolute;
    bottom: 4px;
    right: 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;

    &--far{}

    &--fas{}
  }


  &__body{
    position: relative;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 10px;
    border-top: 1.5px solid $brand-secondary1-light;
    border-bottom: 1.5px solid $brand-secondary1-light;
  }

  &__title{
    // margin-bottom: 6px;
    overflow: hidden;
    line-clamp: 1;//..
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
    color:$brand-secondary1;
    cursor: pointer;
  }

  &__price{
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
    color:$brand-primary;
  }

  &__originPrice{
    margin-bottom: 0;
    font-size: 14px;
    text-decoration: line-through;
    // text-decoration: wavy;
    // text-decoration: overline;
    // text-decoration: double;
  }

  &__cart{
    position: absolute;
    right: 5px;
    bottom: 3px;
    cursor: pointer;
  }
}

.adBar{
  height: 220px;
  margin-bottom: 100px;
  background-image: url("./assets/images/adbar1.png");
  background-size: cover;
  background-position: 50% 40%;
}

.featureProduct{
  margin-bottom: 150px;
  &__wrapper{
    display: flex;
  }

  &__classBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-bottom: .5rem;//##!原來這樣縮高度就可跟卡片mb-2一樣了
    // height: 700px;
    background-image: url("./assets/images/tent_bg.jpg");
    background-size:cover;
    background-position: 58% 50%;
    // >img{
    //   max-width: 100%;
    //   height: auto;
    // }
    // @media screen and (max-width:762px){
    //   width: 100%;
    // }
  }

  &__bannerTitle{
    margin-bottom:300px;
    color: #fff;
    // background-color: $brand-secondary1-light;
    border:1px solid #fff;
    text-align: center;
    // padding-right: 10px;
    // padding-bottom: 10px;
    padding: 13px;
    // box-shadow: 10px 10px 0px 0px $brand-primary;
    box-shadow: 10px 10px 0px 0px $brand-secondary1-light;
    
    >h4{
      margin-bottom: 0;
      font-size: 42px;
    }

    >P{
      margin-bottom: 0;
      font-size: 28px;
    }
  }

  &__bannerTitleBox{
    
  }
}

.metaNews{
  display: flex;
  margin-bottom: 80px;
  @media screen and (max-width:1199px){
    flex-flow: column nowrap; //##排法2
    // justify-content:center;//..
    // flex-wrap: wrap;
    
  }
  &__title{
    width: 30%;
    // text-align: center;
    >h3{
      font-family: Huakang;// ..內建
      // font-size: 30px;
    }
    @media screen and (max-width:1199px){
      // width: 100%;
    }
  }

  &__sectionTitle.meta__sectionTitle{
    font-size: 40px;
    // margin-top: -20px;//##mb40 mt-20 高度60極限
    position: relative;
    top: -40px;
    margin-left: 3%;
  }

  &__wrapper{
    width: 70%;
    display: flex;
    flex-wrap: wrap;//##需要加
    flex-direction: column;
    height: 680px;//##配合colmn+wrap
    // align-items:flex-start;//
    // align-items: center;
    @media screen and (max-width:1199px){//##這排法可改純寬度
      // align-self:flex-center;%%
      align-self:center;//##排法2
      width: 85%;

      // width: 100%;
    }
  }

  &__item{
    position: relative;
    width: 43%;
    margin-right: 7%;
    margin-bottom: 40px;
    @media screen and (max-width:767px){
      width: 50%;
      padding: 0;
      box-sizing: border-box;
    }
    &:first-child(){
      @media screen and (max-width:767px){
          margin-top: 0;
      }
      margin-top: 60px;
    }
  }

  &__itemPic{
    width: 100%;
    >img{
      max-width: 100%;
      height: auto;
    }
  }

  &__itemTxt{
    position: absolute;
    right: -9%;
    bottom: -12%;
    width: 75%;
    padding: 12px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow:2px 2px 5px 1px rgba(0, 0, 0, 0.15);
    letter-spacing:2.5px;
    >h4{
      font-size: 20px;
    }
    >p{
      // font-size: ;
      color: $brand-gray;
      line-height: 1.4;
    }
  }
}

.metaContactUs{
  display: flex;
  height: 320px;
  justify-content: center;
  align-items: center;
  color:#fff;
  background-image: url("./assets/images/footer_bg.png");

  &__logo{
    width: 120px;
    // height: 120px;
    margin: 0 auto;
    >img{
      width: 100%;
    }
  }

  &__title{
    margin-bottom: 3px;
    text-align: center;
    font-size: 23px;
  }

  &__info{
    display: flex;
    flex-direction:column;
    align-items: center;
  }
}