.productSingle{

  // &.container{
  //   width: 1200px;
  // }

  &__thumbImgs{
    // height: 90px;
    // justify-content: flex-start;
    // justify-content: space-around;
    padding-bottom: 10px;
    >li{
      // flex-grow:0;
      // flex: 1 1 auto;
      // flex: ;//@@因bg没加会不见
      img{
        max-width: 100%;
        
      }
    }
  }

  .thumbImgs{
    // overflow: hidden;
    // margin: 0 -10px;//##!蝦皮 但會出現卷軸失敗
    // &__oneThumbCol{//##蝦皮
    //   display: inline-block;
    //   width: 20%;
    //   box-sizing: border-box;
    //   padding: 0 10px;
    // }
    &__oneThumbImg{
      position: relative;
        width: 103px;
        // width: 100%;
        height: 78px;
        &:not(:last-child){
          margin-right: 20px;
        }

          
        // padding: 10px;
        // box-sizing: border-box;//@@無效縮框
        &--selected{
          // position: absolute;
          // top: 0;
          // left: 0;
          // right: 0;
          // bottom: 0;
          border:2px solid $brand-primary;
        }
    }
  }
  
  &__cusScroll{
          /* width */
      &::-webkit-scrollbar {
        // width: 10px;
        height: 6px;
        // border-radius:3px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgb(156, 148, 148);
        border-radius:10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: rgb(104, 92, 92); 
      }
  }
  &__content{
    color: #827E61;
  }

  &__id{
    color: #707070;
  }

  &__favorite{

  }

  &__price{
    vertical-align:baseline;
    >span:nth-child(1){
      font-size: 40px;
      color: #A91604;
    }
    >span:nth-child(2){
      font-size: 25px;
      color: $brand-gray;
    }
  }

  &__nowBuy{
    width: 160px;
    height: 45px;
    background-color: #A91604;
    color:#fff;
  }

  &__addCar{
    width: 160px;
    height: 45px;
    background-color: $brand-primary;
    color: #fff;
  }

  // ========================================
  .promoTags{
    &__title{
      color:$brand-secondary1-light;
      // border-bottom:1px solid $brand-secondary1-light;
    }

    &__container{

    }

    &__tag{
      font-size: 14px;
    }
    
  }

  .productInfo{

    &__nav{
      >ul{
        
      }

      li{
        
      }

    }
    .nav{
      &__item{
        position: relative;
        padding: 8px 15px;
        font-weight: bold;
        color: $brand-secondary1;
        cursor: pointer;

        &--active{//@@可以增加權重 是否只是先後順利
          color: $brand-primary;
          background-color: #fff;
          &::before{
            content: '';
            position: absolute;
            bottom: 10%;
            left: 0;
            right: 0;
            margin: auto;
            width: 80%;
            height: 3.5px;
            background-color: $brand-primary;
          }
        }

        // &::after:not(:last-child) {
        &:not(:last-child)::after {//##
          content: '';
          position: absolute;
          right: -1px;
          top: 0;
          bottom: 0;
          margin:auto;
          height: 55%;
          width: 2px;
          background-color: lighten($brand-gray,40%);
        }

      }
      // ##不用這麼寫
      // &__item.&__item--active{
      //   color: $brand-primary;
      //   background-color: #fff;
      // }
    }

    &__contentArea{
      padding: 20px;
    }

    &__featureView{
      display: none;

      &--show{
        display: block;
      }
    }

    &__specificationView{
      display: none;
      &--show{
        display: block;
      }
    }

    &__shipmentRuleView{
      display: none;
      &--show{
        display: block;
      }
    }
    

  }

}

.sideProductList{
  &__title{
    h4{
      font-size: 20px;
    }
    border-bottom: 1px solid $brand-secondary1-light;
    color: $brand-secondary1-light;
  }

  &__group{

  }

}

.sidePrdItem{
  border: 1px solid $brand-gray;
  &:not(:last-child){
    margin-bottom: 20px;
  }

  &__infoBox{
     
  }
  
  &__title{
    font-size: 16px;
    margin-bottom: 3px;
    color: $brand-secondary1;
    // color: #5E5A13;
  }

  &__price{
    font-size: 16px;
    color: #A91604;
  }

  &__originPrice{
    color: $brand-gray;
  }

  &__subClassTag{
    font-size: 12px;
    // color:$brand-gray;
  }

  &__picBox{
    flex-shrink: 0;
    // 大的適合contain
    // width:120px;
    // height: 120px;
    // 小的適合cover
    // width:72px;
    // height: 72px;
    width: 80px;
    height: 80px;
    img{
      // img方式1 ##
      width: 100%;
      height: 100%;
      // object-fit:contain;
      object-fit:cover;

      // width: auto;
      // height: auto;
      // max-width: 100%;
      // max-width: 100%;
      // @@需要垂直居中
      // vertical-align: middle
    }
  }
}
