.shoppingBlock{
  &__header{
    padding: 1rem;
    font-size: 23px;
    color: #fff;
    background-color: $brand-secondary1-light;

    &--center{
      text-align: center;
    }
  }

  &__body{
    background-color: #fff;
    padding: 1.5rem;
  }
}

// .shoppingInfo{

//   &__cardHeader{

//   }

//   &__cardBody{

//   }
// }

.cartSummary{
  // margin-top: 77px;
  overflow: hidden;
  color: $brand-secondary1-light;
  border-radius: 20px;
  &__header{
    text-align: center;
    font-size: 23px;
    background-color: #fff;
    
    // color: ;
  }

  &__body{
    font-size: 17px;
  }
}