.bg-cover{
    background-size: cover;
    background-position: 50% 50%;
}

// -[]forEach

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.flex-3{
    flex: 3;
}

.flex-4{
    flex: 4;
}

.d-inline-flex{
    display:inline-flex!important
}

.fw-b{
    font-weight: bold;
}

.fz-1{
    font-size: 28px;
}
.fz-2{
    font-size: 24px;
}
.fz-3{
    font-size: 20px;
}

.fz-35{
    font-size: 18px;
}

.fz-4{
    font-size: 16px;
}
.fz-5{
    font-size: 12px;
}

.overflow-x-auto{
    overflow-x: auto;
}

.overflow-x-hidden{
    overflow-x: auto;
}

.overflow-y-auto{
    overflow-y: auto;
}
.overflow-y-hidden{
    overflow-y: auto;
}

.border-radius-0{
  border-radius: 0;
}

.border-radius{
  border-radius: $border-radius;
}

.border-radius-sm{
  border-radius:$border-radius-sm;
}

.border-radius-lg{
  border-radius:$border-radius-lg;
}

.lineCamp--3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp:3;
  -webkit-line-clamp: 3;
}